<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Strava</title>
</head>
<body>
    <h2>{{ .GetSportType }}</h2>
    <h4>{{ .GetWeekDay }}, den {{ .GetLongDate }}</h4>
    <div>
        <p>Uhrzeit: {{ .GetTime }}</p>
        <p>Strecke: {{ .GetLength }} km</p>
        <p>Durschn. Geschwindigkeit: {{ .GetAvgSpeed }} km/h</p>
        <p>Max. Geschwindigkeit: {{ .GetMaxSpeed }} km/h</p>
        <p>Standzeit: {{ .GetWaitingTime }} min</p>
        <p>Kommentar:  {{ .GetComment }}</p>
    </div>
    <div>
        <input type="button" value="&#x270e;">
        <input type="button" value="&#x2193;">
        <input type="button" value="&#x2716;">
    </div>
</body>
</html>