<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Strava</title>
    <link href="../assets/css/index.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-grid.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <button><a href="upload.html">&#43;</a></button>
            </div>
            <div class="col">
                <form method="post">
                    <input type="search" name="search">
                    <button type="submit">&#128269;</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 centerText">
                <h2>Deine Aktivitäten</h2>
            </div>
        </div>
        {{range .}}
            <div class="row justify-content-center">
                <div class="col-5 item">
                    <div class="row">
                        <div class="col-1">
                            {{if eq .GetSportType "Radfahren"}}
                            <p>&#128690;</p>
                            {{else}}
                            <p>&#128694;</p>
                            {{end}}
                        </div>
                        <div class="col-5">
                            <p>{{ .GetSportType }}</p>
                        </div>
                        <div class="col-6">
                            <p>{{ .GetShortDate }} {{ .GetTime }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
</body>
</html>