<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Strava</title>
    <link href="../styles/index.css" rel="stylesheet">
</head>
<body>
    <div>
        <button style="float: left">&#43;</button>
        <form method="post" style="float: right">
            <input type="search" name="search">
            <button type="submit">&#128269;</button>
        </form>
    </div>
    <h2 class="centerContent">Deine Aktivitäten</h2>
    {{range .}}
    <div style="border: black solid 1px; text-align: center">
        <p>{{ .GetSportType }} - {{ .GetDate }} {{ .GetTime }}</p>
    </div>
    {{end}}
</body>
</html>