<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strava</title>
</head>
<body>
    {{if .Success }}
    <h2 style="text-align: center">You've succesfully logged in</h2>
    <div style="text-align: center">
        <p>Username: {{ .User }}</p>
        <p>Password: {{ .Pwd }}</p>
    </div>
    {{ else }}
    <h2 style="text-align: center">Login</h2>
    <div style="text-align: center">
        <form name="login" method="post">
            <label>Username:</label>
            <br>
            <input name="user" type="text">
            <br>
            <label>Password:</label>
            <br>
            <input name="password" type="password">
            <br>
            <button type="submit">Login</button>
            <button type="reset">Reset</button>
        </form>
    </div>
    {{end}}
</body>
</html>