html, body {
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
}

.bg-Image {
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../../images/background_overview2.jpg");
    padding-top: 30px;
}

.footer {
    background-color: #343a40;
    color: white;
}

.marginBottom {
    margin-bottom: 15px;
}