{{ define "content" }}
    <div class="row justify-content-center">
        <div class="col-5 itemCard marginBottom">
            <div class="row ">
                <p>Tag: {{ .GetWeekDay }}, den {{ .GetLongDate }}</p>
            </div>
            <div class="row">
                <p>Uhrzeit: {{ .GetTime }}</p>
            </div>
            <div class="row">
                <p>Strecke: {{ .GetLength }} km</p>
            </div>
            <div class="row">
                <p>Durschn. Geschwindigkeit: {{ .GetAvgSpeed }} km/h</p>
            </div>
            <div class="row">
                <p>Max. Geschwindigkeit: {{ .GetMaxSpeed }} km/h</p>
            </div>
            <div class="row">
                <p>Standzeit: {{ .GetWaitingTime }} min</p>
            </div>
            <div class="row">
                <p class="comment">Kommentar: {{ .GetComment }}</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 centerContent marginBottom">
            <a href="/edit?id={{.GetID}}"><input type="button" value="&#x270e;"></a>
            <a href="/download?id={{.GetID}}" target="_blank"><input type="button" value="&#11015;"></a>
            <input type="button" value="&#x2716;">
        </div>
    </div>
{{ end }}